/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*BASE STYLES*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1em;
  overflow-x: hidden;
  min-width: 100%;
}

h2 {
  padding: 30px 0 10px 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 7vw;
}

p {
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.2rem;
  margin-top: 5px;
}

a {
  color: #0f0f0f;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

ul li {
  list-style-type: none;
}

.CTA-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*MOBILE STYLES*/

/*header styles*/

#header {
  background-color: #000;
  height: 70px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
}

#header .header-container {
  background-color: transparent;
  height: 100%;
  transition: 0.3s ease background-color;
}

#header .brand {
  width: 10rem;
}

#header .nav-bar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

#header .nav-links ul {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  justify-content: center;
  list-style-type: none;
  overflow-x: hidden;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 0;
  transition: 0.5s ease left;
  z-index: 1;
}

#header .nav-links ul li {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

#header .nav-links ul.active {
  left: 0;
}

#header .nav-links ul a {
  color: #fff;
  display: block;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#header .nav-links ul a::after {
  content: attr(data-after);
  color: #000;
  font-size: 6rem;
  left: 50%;
  letter-spacing: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease letter-spacing;
  z-index: -1;
}

#header .hamburger {
  cursor: pointer;
  position: relative;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2000;
}

#header .hamburger .bar {
  background-color: #fff;
  height: 2px;
  position: relative;
  width: 30px;
  margin-left: 10px;
  z-index: 2;
  transition: opacity 0.2s ease, transform 0.25s ease;
  transform-origin: center;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger .bar,
#header .hamburger .bar::before,
#header .hamburger .bar::after {
  background: #fff;
  transition: 0.35s ease;
  transition-property: transform, opacity, top, bottom;
  transform-origin: center;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  background-color: #fff;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transition: top 0.18s ease, bottom 0.18s ease, transform 0.28s ease 0.12s;
  transform-origin: center;
  width: 100%;
  z-index: 3;
}

#header .hamburger .bar::after {
  top: 8px
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar {
  background: transparent;
  opacity: 1;
}

#header .hamburger.active .bar::before {
  bottom: 0;
  transform: rotate(-45deg);
}

#header .hamburger.active .bar::after {
  top: 0;
  transform: rotate(45deg);
}

@media (prefers-reduced-motion: reduce) {

  #header .hamburger .bar,
  #header .hamburger .bar::before,
  #header .hamburger .bar::after {
    transition: none;
  }
}

/*heading styles*/

#heading {
  display: block;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-top: 70px;
  text-align: center;
}

#heading .heading-container {
  padding: 0 15px 30px 15px;
}

/*plan styles*/

#plans {
  display: block;
  justify-content: center;
  width: 100%;
}

#plans .plans-container {
  display: block;
  text-align: center;
}

#plans .toggle-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

#plans .toggle-btn {
    padding: 10px 30px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 2.5px;
    transition: background 0.3s ease;
}

#plans .toggle-btn.active {
    background: #ff0000;
}

#plans .plan-section {
    display: none;
}

#plans .plan-section.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

#plans .plan-types .plan-tier,
#plans .plan-types .plan-tier-highlight  {
  margin: 1.5% auto;
  padding: 10% 2%;
  border-radius: 4px;
  width: 95%;
}

#plans .plan-types .plan-tier {
  background-color: #e6e6e6;
}

#plans .plan-types .plan-tier-highlight {
  background: #ff0000;
  color: #fff;
}

#plans .plan-types .plan-tier-text h3,
#plans .plan-types .plan-tier-highlight-text h3 {
  text-transform: uppercase;
}

#plans .plan-types .plan-tier-text h4,
#plans .plan-types .plan-tier-highlight-text h4 {
  padding-bottom: 5%;
}

#plans .plan-types .plan-tier-text h4 span,
#plans .plan-types .plan-tier-highlight-text h4 span {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

#plans .plan-types .plan-tier-text p,
#plans .plan-types .plan-tier-highlight-text p {
  font-size: 0.85rem;
  font-weight: 400;
}

#plans .plan-types .plan-tier .buy-btn,
#plans .plan-types .plan-tier-highlight .buy-btn {
  font-weight: 700;
  padding: 10px 30px;
  background: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 2.5px;
  margin-top: 10%;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

#plans .plan-types .plan-tier-highlight .buy-btn {
  background: #333;
}

.plans-CTA {
  overflow-x: hidden;
  text-align: left;
}

.chevron-btn {
    display: inline-block;
    background: #ff0000;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 4vw;
    padding: 1em 2em 1em 1.5em;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    box-shadow: 4px 4px 0 #000;
    letter-spacing: 0.7px;
    text-decoration: none;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    width: 95%;
    white-space: nowrap;
}

.chevron-btn.visible {
    transform: translateX(0);
    opacity: 1;
}

/*amenities styles*/

#amenities {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  text-align: center;
}

#amenities .amenities-container {
  padding: 0 15px 30px 15px;
}

#amenities .amenities-list ul {
  display: flex;
  flex-direction: column;
  padding: 8% 0 0 0;
}

#amenities .amenities-list ul li {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 10px 20px;
  gap: 0.5rem;
}

#amenities .amenities-list ul li img {
  height: 20px;
  width: 20px;
  flex: 0 0 auto;
  align-self: center;
}

/*classes styles*/

#classes {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
}

#classes .classes-container {
  padding: 0 15px 30px 15px;
}

#classes .classes-container > .classes-photo {
  clip-path: polygon(100% 0, 20% 0, 3% 50%, 20% 100%, 100% 100%);
}

/*training styles*/

#training {
  display: block;
  justify-content: center;
  width: 100%;
  position: relative;
  text-align: center;
}

#training .training-container {
  padding: 0 15px 30px 15px;
}

#training .training-container > .training-photo {
  clip-path: polygon(0 0, 80% 0, 97% 50%, 80% 100%, 0 100%);
}

/*footer styles*/

#footer {
  background-color: #000;
  margin-top: 40px;
  color: #fff;
}

#footer .brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#footer .brand h1 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #666;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  text-transform: uppercase;
  padding: 5vh 0 2vh 0;
}

#footer .social-links {
  width: 80%;
}

#footer .social-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 45px;
}

#footer .social-links ul li a {
  padding: 0 30px;
}

#footer .social-links img {
  height: 20px;
  width: 20px;
}

#footer .copyright {
  text-align: center;
  padding-bottom: 30px;
}

#footer .copyright p {
  color: #111;
  font-size: 0.6rem;
  line-height: 0.85rem;
}
@media only screen and (min-width: 480px) {
  /*TABLET STYLES*/

  body {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    line-height: 1.8rem;
  }

  .CTA-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*header styles*/

  #header .nav-bar {
    justify-content: center;
  }

  #header .brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #header .nav-links {
    margin-left: auto;
  }

  /*heading styles*/

  #heading .heading-container h2 {
    font-size: 2.5rem;
  }

  /*plan styles*/

  #plans .toggle-btn {
    padding: 3% 8%;
    border-radius: 3.5px;
    font-size: 3vw;
  }

  #plans .plan-types .plan-tier-text h4,
  #plans .plan-types .plan-tier-highlight-text h4 {
    padding-bottom: 5%;
  }

  #plans .plan-types .plan-tier-text h4 span,
  #plans .plan-types .plan-tier-highlight-text h4 span {
    display: flex;
    flex-direction: column;
    font-size: 3.5rem;
  }

  #plans .plan-types .plan-tier-text p,
  #plans .plan-types .plan-tier-highlight-text p {
    font-size: 1rem;
    font-weight: 500;
  }

  #plans .plan-types .plan-tier .buy-btn,
  #plans .plan-types .plan-tier-highlight .buy-btn {
    font-weight: 700;
    padding: 3% 8%;
    border-radius: 3.5px;
    font-size: 3vw;
  }

  /*amenities*/

  #amenities .amenities-container {
    margin: 10% 0;
  }

  #amenities .amenities-list ul {
    display: flex;
    flex-direction: column;
    padding: 8% 0 0 0;
    max-width: 600px; /* or whatever width looks good */
    margin: 0 auto; /* centers the list */
  }


  /*classes styles*/

  #classes .classes-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    border-radius: 4px;
    overflow: hidden;
    min-height: 250px;
    padding: 8% 3%;
  }

  #classes .classes-photo {
    flex: 1 1 400px;
    min-height: 250px;
  }

  #classes .classes-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #classes .classes-text {
    flex: 1 1 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #classes .classes-text h2 {
    padding: 0;
  }

  /*training styles*/

  #training .training-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    overflow: hidden;
    min-height: 250px;
    padding: 8% 3%;
  }

  #training .training-photo {
    flex: 1 1 400px;
    min-height: 250px;
  }

  #training .training-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #training .training-photo img {
    object-position: 60% 50%;
  }
 
  #training .training-text {
    flex: 1 1 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #training .training-text h2 {
    padding: 0;
  }

  /*footer styles*/

  #footer .brand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
  }

  #footer .brand > img {
    width: 25%;
    margin-left: 10%;
  }

  #footer .social-links {
    width: 40%;
  }

  #footer .social-links ul {
    justify-content: center;
    gap: 45px;
  }

  #footer .social-links ul li a {
    padding: 0 30px;
  }

  #footer .social-links img {
    height: 20px;
    width: 20px;
  }
}

@media only screen and (min-width: 1024px) {
/*DESKTOP STYLES*/

  h2 {
    font-size: 3rem;
  }

/*header styles*/

  #header .brand {
    position: relative;
    left: 0;
    transform: none;
    padding-left: 10px;
  }

  #header .hamburger {
    display: none;
  }

  #header .nav-links ul {
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    left: 0;
  }

  #header .nav-links ul li {
    flex: 0 0 auto;
  }

  #header .nav-links ul a {
    font-size: 0.75rem;
    padding: 10px;
    margin: 0 5px;
    position: relative;
    display: inline-block;
  }

  #header .nav-links ul a::after {
    content: '';
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    color: transparent;
    z-index: auto;
  }

  #header .nav-links ul a:hover::after {
    transform: scaleX(1);
  }

  /*heading styles*/

  #heading {
    display: grid;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 70px;
    text-align: center;
  }

  #heading .heading-container {
    padding: 0 15px 30px 15px;
    max-width: 1250px;
  }

  /*plan styles*/

  #plans .plan-section.active {
    display: flex;
    flex-direction: row;
  }

  #plans .toggle-btn {
    padding: 10px 30px;
    border-radius: 3.5px;
    font-size: 1rem;
  }

  #plans .plans-container {
    display: grid;
    justify-content: center;
  }

  #plans .plan-types {
    max-width: 1250px;
  }

  #plans .plan-types .plan-tier,
  #plans .plan-types .plan-tier-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 410px;
    padding: 5% 2%;
  }

  #plans .plan-types .plan-tier:hover,
  #plans .plan-types .plan-tier-highlight:hover {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  }

  #plans .plan-types .plan-tier-text h4,
  #plans .plan-types .plan-tier-highlight-text h4 {
    padding-bottom: 5%;
  }

  #plans .plan-types .plan-tier .plan-tier-text h4 {
    padding-top: 25px;
  }

  #plans .plan-types .plan-tier-text h4 span,
  #plans .plan-types .plan-tier-highlight-text h4 span {
    display: flex;
    flex-direction: column;
    font-size: 3.5rem;
  }

  #plans .plan-types .plan-tier-text p,
  #plans .plan-types .plan-tier-highlight-text p {
    font-size: 1rem;
    font-weight: 500;
  }

  #plans .plan-types .plan-tier .buy-btn,
  #plans .plan-types .plan-tier-highlight .buy-btn {
    font-weight: 700;
    padding: 3% 8%;
    margin-top: auto;
    border-radius: 3.5px;
    font-size: 30px;
    object-position: bottom;
    max-width: 50%;
  }

  .chevron-btn {
    font-size: 4rem;
    padding: 1em 2em 1em 1.5em;  
    letter-spacing: 0.7px;
    width: 95%;
  }

  /*amenities styles*/

  #amenities .amenities-container {
    margin: 5% 0;
    max-width: 1250px;
  }

  #amenities .amenities-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1350px;
    margin: 0 auto;
    padding: 5% 0 0 0;
  }

  #amenities .amenities-container ul li {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 3%;
  }

  #amenities .amenities-container ul li img {
    height: 25px;
    width: 25px;
  }

  /*classes styles*/

  #classes {
    display: grid;
    justify-content: center;
  }
  #classes .classes-container {
    max-width: 1350px;
    padding: 4% 0;
  }

  /*training styles*/

  #training {
    display: grid;
    justify-content: center;
  }
  #training .training-container {
    max-width: 1350px;
    padding: 4% 0;
  }

  /*footer styles*/

  #footer .brand > img {
    width: 225px;
  }

  #footer .social-links h1 {
    font-size: 2rem;
  }

  #footer .social-links ul {
    justify-content: center;
    margin-top: 50px;
  }

  #footer .social-links ul li {
    padding: 0 30px;
  }

  #footer .social-links ul img {
    width: 25px;
    height: 25px;
  }
}
